<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="timestamp" datePattern="yyyyMMdd"/>

    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>log/log-log_${timestamp}.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
            <!--            <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %5p | %logger{25}: %12(ID: %8mdc{id}) | %m%n</pattern>-->
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--    <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>logback/kalturaAutomation.log</file>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>logback/kalturaAutomation.%d{yyyy-MM-dd}.log</fileNamePattern>-->
    <!--            <maxHistory>7</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
    <!--    </appender>-->


    <logger name="org.springframework" level="DEBUG"/>
    <!--    <logger name="org.springframework.transaction" level="TRACE" />-->

    <!-- in order to debug some marshalling issues, this needs to be TRACE -->
    <!--    <logger name="org.springframework.web.servlet.mvc" level="TRACE" />-->

    <root level="DEBUG">
        <appender-ref ref="LOGFILE"/>
<!--        <appender-ref ref="CONSOLE"/>-->
    </root>
    <logger name="org.springframework" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>